<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="carousel">
        <span>
          <img src="assets/img/TIPO.png" alt="TIPO" class="header-logo">
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div class="content-container">
    <h1 class="ion-text-center">Ingresar</h1>

    <form class="form-container">
      <ion-item>
        <ion-label position="floating">Ingrese su correo</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ingrese su contraseña</ion-label>
        <ion-input [(ngModel)]="passWord" name="password" type="password" placeholder="******"></ion-input>
      </ion-item>
    </form>

    <div class="ion-padding">
      <ion-button expand="block" color="primary" type="submit" (click)="login()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Ingresar
      </ion-button>

      <ion-button expand="block" color="secondary" fill="outline" routerLink="/crear-user">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Registrarse
      </ion-button>
    </div>

    <ion-text color="primary" class="ion-text-center">
      <a routerLink="/recuperar-pass" style="text-decoration: none; color: inherit;">
        <p>¿Olvidaste tu contraseña?</p>
      </a>
    </ion-text>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">JonatanRoa</ion-title>
  </ion-toolbar>
</ion-footer>