<!-- Encabezado -->
<ion-header>
  <ion-toolbar>
    <img src="/assets/img/duoc.png" class="responsive-image" />
  </ion-toolbar>
</ion-header>

<style>
  .responsive-image {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  }
</style>


<!-- Contenido -->
<ion-content class="ion-padding">
  <h1>

    <div>PAGINA PRINCIPAL</div>
  </h1>

 
  
</ion-content>




<!-- Pie de página -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Jon.Roa</ion-title>
  </ion-toolbar>
</ion-footer>
