<!-- Menú lateral -->
<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>TeLlevoApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/login">INICIAR SESION</ion-item>
      <ion-item routerLink="/crear-user">CREAR CUENTA</ion-item>
      <ion-item routerLink="/recuperar-pass">Recuperar contraseña</ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Página principal -->
<ion-router-outlet id="main-content"></ion-router-outlet>

<!-- Contenido principal -->
<ion-content>
  <ion-header>
    <ion-toolbar>
      <img src="/assets/img/duoc.png" class="responsive-image" />
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1>PÁGINA PRINCIPAL</h1>
  <p>Bienvenido: {{email}}</p>
  <ion-button (click)="logOut()">Cerrar sesión</ion-button>
</ion-content>

<!-- Pie de página -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Jon.Roa</ion-title>
  </ion-toolbar>
</ion-footer>
