
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary" class="ion-text-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      
      <ion-title>
        <div class="carousel">
          <span>
            <img src="assets/img/TIPO.png" alt="TIPO" class="header-logo">
          </span>
        </div>
      </ion-title>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal -->
  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/img/LOGOTIPO.png" alt="TeLlevoApp Logo" class="app-logo">
      </div>

      <ion-text color="primary">
        <h1 class="ion-text-center">Bienvenido a TeLlevoApp</h1>
        <p class="ion-text-center" *ngIf="email">Bienvenido: {{email}}</p>
      </ion-text>

      <ion-grid>
        <ion-row>
          <!-- Agregar Vehículo -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" [routerLink]="['/agregar-vehiculo']">
              <ion-card-content>
                <ion-icon name="car-outline" color="primary" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Agregar Vehículo</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Agregar Viaje -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" [routerLink]="['/agregar-viaje']">
              <ion-card-content>
                <ion-icon name="map-outline" color="success" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Agregar Viaje</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Ver Vehículos -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" [routerLink]="['/lista-vehiculos']">
              <ion-card-content>
                <ion-icon name="list-outline" color="tertiary" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Vehículos Registrados</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Ver Viajes -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" [routerLink]="['/lista-viajes']">
              <ion-card-content>
                <ion-icon name="compass-outline" color="warning" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Viajes Registrados</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Ver Usuarios -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" [routerLink]="['/lista-usuarios']">
              <ion-card-content>
                <ion-icon name="people-outline" color="secondary" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Lista de Usuarios</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Cerrar Sesión -->
          <ion-col size="6">
            <ion-card class="ion-text-center custom-card" (click)="logOut()">
              <ion-card-content>
                <ion-icon name="log-out-outline" color="danger" class="custom-icon"></ion-icon>
                <ion-text>
                  <h2>Cerrar Sesión</h2>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

  <!-- Pie de página -->
  <ion-footer class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        JonatanRoa
      </ion-title>
    </ion-toolbar>
  </ion-footer>
  


