<!-- Encabezado -->
<ion-header>
  <ion-toolbar>
    <img src="/assets/img/duoc.png" class="responsive-image" />
  </ion-toolbar>
</ion-header>

<style>
  .responsive-image {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  }
</style>


<!-- Contenido -->
<ion-content class="ion-padding">
  <h1>Recuperar Contraseña</h1>

  <ion-item>
    <ion-label position="floating">Ingrese su correo</ion-label>
    <ion-input [(ngModel)]="email" type="email" placeholder="email@domain.com"></ion-input>
  </ion-item>
  
  <div class="ion-text-center">
    <ion-button (click)="Recuperar()">Enviar correo</ion-button>
  </div>
  
</ion-content>




<!-- Pie de página -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Jon.Roa</ion-title>
  </ion-toolbar>
</ion-footer>
