<!-- Encabezado -->
<ion-header>
  <ion-toolbar>
    <img src="/assets/img/duoc.png" class="responsive-image" />
  </ion-toolbar>
</ion-header>

<style>
  .responsive-image {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  }
</style>


<!-- Contenido -->
<ion-content class="ion-padding">
  <h1>Recuperar Contraseña</h1>

  <ion-item>
    <ion-input label="Ingrese su correo" type="email" placeholder="email@domain.com"></ion-input>
  </ion-item>
  
 
    <ion-button exportparts="block">Enviar correo</ion-button>
  
</ion-content>




<!-- Pie de página -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Sacate al toke las zapatillas</ion-title>
  </ion-toolbar>
</ion-footer>
